{% extends userRole == 'Etudiant' ? 'student/student.html.twig' : 'teacher/teacher.html.twig' %}

{% block title %}Qcm n° {{ qcm.getId() }}{% endblock %}

{% block body %}
    <h1 id="test">Qcm n° {{ qcm.getId() }}</h1>
    <br><br>
    <form action="{{ path('answerQcm') }}" method="post">
        <input type="hidden" name="idQcm" value="{{ qcm.getId() }}">
        <p>{% for question in qcmQuestions %}</p>
        <ul>
            <li>{{ question.getQuestionId().getContent() }}
                <ol>
                    <p>{% for questionResponses in question.getQuestionId().getResponses() %}</p>
                    <input name="{{ question.getQuestionId().getId() }}-{{ questionResponses.getId() }}" type="checkbox"> {{ questionResponses.getContent() }}</input>
                    {% endfor %}
                </ol>
            </li>
        </ul>
        <br><br>
        {% endfor %}
        <button name="submit" type="submit">Soumettre</button>
    </form>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/publishQcm.js"></script>
{% endblock %}