{% extends userRole == 'Etudiant' ? 'student/student.html.twig' : 'teacher/teacher.html.twig' %}

{% block title %}Résultats{% endblock %}

{% block body %}
    <h1 id="test">Résultats</h1>
    <br><br>
    {% if results is empty %}
        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
            <span class="badge badge-pill badge-danger">Erreur</span>
            Aucune note disponible !
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
    {% else %}
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                <tr>
                    <th>Nom du QCM</th>
                    {% if userRole == 'Enseignant' %}
                        <th>Nom de l'étudiant</th>
                    {% endif %}
                    <th>Note</th>
                    {% if userRole == 'Enseignant' %}
                        <th>Etat</th>
                        <th class="text-right">Publier</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                        <tr>
                            <td>{{ result.getQcmId().getTitle() }}</td>
                            {% if userRole == 'Enseignant' %}
                                <td>{{ result.getUserId().getLogin() }}</td>
                            {% endif %}
                            {% if result.getResult() > 10 %}
                                <td style="color: #00ad5f">{{ result.getResult() }} / 20</td>
                            {% elseif result.getResult() == 10 %}
                                <td style="color: #e0a800">{{ result.getResult() }} / 20</td>
                            {% else %}
                                <td style="color: #dc3545">{{ result.getResult() }} / 20</td>
                            {% endif %}
                            {% if userRole == 'Enseignant' %}
                                {% if result.getVisible() == 1 %}
                                    <td class="process" style="color : #00ad5f;" id="createdMessage{{ result.id }}" value="{{ result.id }}">Publié</td>
                                {% else %}
                                    <td class="denied" style="color: #fa4251;" id="createdMessage{{ result.id }}" value="{{ result.id }}">Non publié</td>
                                {% endif %}
                                <td class="text-right">
                                    {% if result.getVisible() == 1 %}
                                        <button type="button" class="btn btn-danger"><i class="fas fa-ban"></i> Déjà publié</button>
                                    {% else %}
                                        <button type="button" id="publishResult{{ result.getUserId().getId() }}" value="{{ result.id }}" data-selected="{{ result.id }}" class="btn btn-primary">Publier</button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/publishResult.js"></script>
{% endblock %}