{% extends 'dashboard.html.twig' %}

{% block menu %}
    <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
            <a class="js-arrow" href="."><i class="fas fa-tachometer-alt"></i>Accueil</a>
        </li>

        <li>
            <a href="/showQcms">
                <i class="fas fa-table"></i>Voir les QCM</a>
        </li>

        <li>
            <!-- -->
            <a href="/showResults">
                <i class="far fa-check-square"></i>Voir mes résultats</a>
        </li>
    </ul>
{% endblock %}