{% extends 'teacher/teacher.html.twig' %}

{% block title %}Création d'un thème{% endblock %}

{% block body %}
    <div class="card-header">
        <h1 id="test">Creation d'un thème</h1>
    </div>
    <form action="{{ path('createThemeDB') }}" method="post" class="form-horizontal">
        <div class="card-body card-block">
            <div class="row form-group">
                <div class="col col-md-3">
                    <label for="hf-email" class=" form-control-label">Nom du thème</label>
                </div>
                <div class="col-12 col-md-9">
                    <input id="theme" name="theme" placeholder="Ex : Informatique" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-check"></i> Créer
            </button>
        </div>
    </form>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/app.js"></script>
{% endblock %}
