{% extends userRole == 'Etudiant' ? 'student/student.html.twig' : 'teacher/teacher.html.twig' %}

{% block title %}Affichage des QCM{% endblock %}

{% block body %}
    <h1 id="test">Affichage des Qcm</h1>
    <br><br>
    <div class="table-responsive m-b-40">
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <th>Titre</th>
                <th>date limite</th>
                {% if userRole == 'Enseignant' %}
                    <th>status</th>
                    <th>Visualisation</th>
                    <th>publier</th>
                {% else %}
                    <th>répondre</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for qcm in qcms %}
                <tr>
                    <td>{{ qcm.title }}</td>
                    <td>{{ qcm.deadline|date('d M Y') }}</td>
                    {% if userRole == 'Enseignant' %}
                        {% if qcm.visible == 1 %}
                            <td id="createdMessage{{ qcm.id }}" class="process">Publié</td>
                        {% else %}
                            <td id="createdMessage{{ qcm.id }}" class="denied">Non publié</td>
                        {% endif %}
                        <td>
                            <a class="btn btn-warning" href="updateQcm/{{ qcm.id }}" role="button"><i class="fas fa-eye"></i> Voir</a>
                        </td>
                        <td>
                            {% if qcm.visible == 1 %}
                                <button class="btn btn-danger" type="button"><i class="fas fa-ban"></i> Déjà publié</button>
                            {% else %}
                                <button class="btn btn-success" type="button" id="publishQcm{{ qcm.id }}" value="{{ qcm.id }}" data-selected="{{ qcm.id }}"><i class="fas fa-upload"></i> Publier</button>
                            {% endif %}
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-primary" href="answerQcm/{{ qcm.id }}">Répondre au QCM</a>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}

            {% if userRole == 'Etudiant' %}
                {% for answeredQcm in answeredQcms %}
                    <tr>
                        <td>{{ answeredQcm.title }}</td>
                        <td>{{ answeredQcm.deadline|date('d M Y') }}</td>
                            <td>
                                <button class="btn btn-danger disabled">Répondre au QCM</button>
                            </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/publishQcm.js"></script>
{% endblock %}