{% extends 'teacher/teacher.html.twig' %}

{% block title %}Affichage des questions{% endblock %}

{% block body %}
    <h1 id="test">Affichage des questions</h1>
    {% if app.session.flashBag.get('success') is defined %}
        {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    {% if app.session.flashBag.get('danger') is defined %}
        {% for msg in app.session.flashBag.get('danger') %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <br><br>
    <form class="form-header" action="{{ path('showQuestionTheme') }}" method="post">
        <input class="au-input au-input--xl" name="theme" placeholder="Recherche de questions par thème" type="text">
        <button class="au-btn--submit" type="submit">
            <i class="zmdi zmdi-search"></i>
        </button>
    </form>
    <br>
    {% if questions is defined %}
        {% if questions is empty %}
            <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                <span class="badge badge-pill badge-danger">Erreur</span>
                Aucune question disponible.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% else %}
    {% endif %}


        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                <tr>
                    <th>id</th>
                    <th>question</th>
                    <th>modifier</th>
                    <th>supprimer</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>{{ question.id }}</td>
                        <td>{{ question.content }}</td>
                        <td>
                            <a class="btn btn-warning" href="updateQuestion/{{ question.id }}" role="button"><i class="fas fa-edit"></i> Modifier</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="deleteQuestion/{{ question.id }}" role="button"><i class="fas fa-trash-alt"></i> Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}