{% extends 'teacher/teacher.html.twig' %}

{% block title %}Affichage d'une question{% endblock %}

{% block body %}

<div class="card-header">
    <h1 id="test">Affichage de la question n°{{ questionsResponses.id }}</h1>
</div>
    <div class="card-body card-block">
        <div class="row form-group">
            <div class="col col-md-3">
                <label for="hf-email" class=" form-control-label">Question :</label>
            </div>
            <div class="col-12 col-md-9">
                <input name="updatedQuestion" class="form-control" disabled value="{{ questionsResponses.content }}" type="text">
            </div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">
                <label for="hf-email" class=" form-control-label">Thème :</label>
            </div>
            <div class="col-12 col-md-9">
                <input disabled name="updatedTheme" class="form-control" value="{{ questionsResponses.theme.content }}" type="text">
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <label for="cc-exp" class="control-label mb-1">Réponses : </label>
                </div>
            </div>
            <div class="col-3">
                <label for="x_card_code" class="control-label mb-1">Bonne réponse :</label>
            </div>
        </div>

        {% for responses in questionsResponses.responses %}
        <div class="row">
            <div class="col-9">
                <div class="form-group">
                    <input disabled name="updatedResponse{{ responses.id }}" class="form-control" value="{{ responses.content }}" type="text">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group">
                {% if responses.rightanswer == 1 %}
                    <input disabled class="form-check-label" type="checkbox" value="ch" name="updatedResponsesAnswer{{ responses.id }}" checked>
                {% else %}
                    <input disabled class="form-check-label" type="checkbox" value="nCh" name="updatedResponsesAnswer{{ responses.id }}">
                {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<br><br>
<script src="../js/app.js"></script>
{% endblock %}
