{% extends 'dashboard.html.twig' %}

{% block menu %}
    <ul class="list-unstyled navbar__list">
        <li class="active has-sub">
            <a class="js-arrow" href=".">
                <i class="fas fa-home"></i>Accueil</a>
        </li>

        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-clipboard-list"></i>QCM</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list">
                <li>
                    <a href="/createQcm">Créer un QCM</a>
                </li>
                <li>
                    <a href="/showQcms">Voir les QCM</a>
                </li>
                <li>
                    <a href="/showResults">Voir les Résultats</a>
                </li>
            </ul>
        </li>
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-question"></i>Questions</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                <li>
                    <a href="/createQuestion">Créer une question</a>
                </li>
                <li>
                    <a href="/showQuestions">Voir les questions</a>
                </li>
            </ul>
        </li>
        <li class="has-sub">
            <a class="js-arrow" href="#">
                <i class="fas fa-columns"></i>Thèmes</a>
            <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: none;">
                <li>
                    <a href="/createTheme">Créer un thème</a>
                </li>
                <li>
                    <a href="/showThemes">Voir les thèmes</a>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}