{% extends 'teacher/teacher.html.twig' %}

{% block title %}Affichage d'un QCM{% endblock %}

{% block body %}
        <div class="table-responsive m-b-40">
        <table class="table table-borderless table-data3">
            <thead>
            <tr>
                <th>id</th>
                <th>question</th>
                <th>voir la question</th>
            </tr>
            </thead>
            <tbody>
            {% for qcmQuestion in qcmQuestions %}
                <tr>
                    <td>
                        {{ qcmQuestion.getQuestionId().getId() }}
                    </td>
                    <td>
                        {{ qcmQuestion.getQuestionId().getContent() }}
                    </td>
                    <td>
                        <a class="btn btn-success" href="/showQuestion/{{ qcmQuestion.getQuestionId().getId() }}" role="button"><i class="fas fa-eye"></i> Voir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/app.js"></script>
{% endblock %}
